fail_fast: false
exclude: |
  (?x)^(
    .*\b(__pycache__)\b.*|
    .*\b(.git)\b.* |
    .*\b(__init__)\b.*
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/myint/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args: [ --remove-all-unused-imports, --in-place, --remove-unused-variables, --expand-star-imports ]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [ "--py310-plus" ]

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        language_version: python3.10
        args: [ --line-length=110,  ]
        exclude: tests/(test_repository|test_api)\.py$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [ --fix, '--ignore', 'E402,F811' ]